<h2>Просмотр владельца</h2>
<div class="view"
     *ngIf="owner$; else loader"
>
  <div class="block-name">
    <div><p class="name lastname">Фамилия: </p><p class="data-owner">{{owner$.aLastName}}</p></div>
    <div><p class="name middlename">Отчество: </p><p class="data-owner">{{owner$.aMiddleName}}</p></div>
    <div><p class="name firstname">Имя: </p><p class="data-owner">{{owner$.aFirstName}}</p></div>
  </div>
  <div class="block-cars">
    <h2>Автомобили</h2>
    <div class="car" *ngFor="let car of owner$.aCars">
      <p class="car-field numberAuto">{{car.carNumber}}</p>
      <p class="car-field brandAuto">{{car.brand}}</p>
      <p class="car-field modelAuto">{{car.model}}</p>
      <p class="car-field yearAuto">{{car.year}}</p>
    </div>
  </div>
</div>
<ng-template #loader><mat-progress-bar mode="indeterminate"></mat-progress-bar></ng-template>
